{
  "extends": "@antfu",
  "overrides": [
    {
        "files": ["scripts/**"],
        "rules": {
            "n/prefer-global/process": "off"
        }
    },
    {
      "files": ["docs/front-base/js/**"],
      "rules": {
        "no-extend-native": "off",
        "prefer-promise-reject-errors": "off"
      }
    }
  ],
  "rules": {
    // yml
    "yml/no-empty-mapping-value": "off"
  }
}
